*{box-sizing: border-box;}

body{margin: 0;}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.gallery-content{border: 1px solid #ccc;}

.gallery-content:hover{
	border: 1px solid #000;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}
.gallery-content img{
	width: 100%;
	height: auto;
}

.gallery-content p{
	text-align: center;
	padding: 15px;
}

.responsive{
	width: 24.9999%;
	float: left;
	padding: 5px;
}

@media screen and (max-width: 700px){
	.responsive{
		width: 49.9999%;
	}
}

@media screen and (max-width: 500px){
	.responsive{
		width: 100%;
	}
}
