*{
    box-sizing: border-box;
}
body{margin: 0;}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*
==============================
css rules for icon bar horizontal
==============================
*/
.icon-bar-h{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 4px solid #6F1E51; 
    overflow: hidden;
}
.icon-bar-h a{
    float: left;
    margin: 0;
    padding: 12px;
    width: 20%;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 36px;
    color: #6F1E51;
    
}

.icon-bar-h a:hover{
    background-color: #6F1E51;
    color: #fff;
}

.icon-bar-h a:active{
    background-color: #111;
}
.icon-bar-h a.active{
    background-color: #111;
    color: #fff;
}

/*
==============================
 /end css rules for icon bar horizontal stat st 
==============================
*/

