*{box-sizing: border-box;}

body{
	margin: 0;
	font-family: Arial;
}

.example{
	padding: 12px;
	color: white;
}

/*Extra Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
	.example{
		background-color: darkblue;
	}
}
/*Small devices (portrait tablets and large phone, 600px and up) */
@media only screen and (min-width: 600px){
	.example{
		background-color: #DCA50e;
	}
}

/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
	.example{
		background-color: #777;
	}
}

/*Large devices (laptop and desktop, 992px and up) */
@media only screen and (min-width: 992px){
	.example{
		background-color: #005e52;
	}
}
