*{box-sizing: border-box;}

body{
	margin: 0;
	font-family: Arial;
}

.example{
	padding: 12px;
	color: white;
	background-color: #ffb5b5;
}

/*Extra Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
	.example{
		background-color: darkblue;
	}
}

