*{box-sizing: border-box}
body{margin: 0;}

.nav ul, .navbasic ul{
	width: 100%;
	list-style-type: none;
	margin:0;
	padding: 0;
	background-color: #ddd;
	overflow: auto;
}

.nav ul{
	width: 25%;
	position: fixed;
	top: 0;
	height: 100%;
}

.navbasic li{
	float: left;
}
.nav a.active, .navbasic a.active{
	background-color: #999;
	color: #fff;
}
.navbasic .right{
	float: right;
}
.nav li a, .navbasic li a{
	display: inline-block;
	text-decoration: none;
	color: #777;
	padding: 14px 14px;
}

.nav li a{
	display: block;
}
.nav li a:hover:not(.active), .navbasic li a:hover:not(.active){
	background-color: #ccc;
}

.main{
	margin-left: 25%;
	padding: 2px 16px;
	height: 1000px;
}

/*Responsive*/

@media screen and (max-width: 900px){
	
	.nav ul{
		position: relative;
		width: 100%;
		height: auto;
	}
	.nav li a{
		float: left;
		padding: 15px;
	}
	
	.right{
		float: right;
	}	

	.main{
		margin-left: 0;
	}	
}


@media screen and (max-width: 600px){
	.nav li a, .nav li, .navbasic li, .navbasic li a{
		text-align: center;
		float: none;
	}
	
}

