*{box-sizing: border-box}

body{margin: 0;}


.nav ul{
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #555;
	z-index: 2;
}

.dropdown, .dropd, .drop-img{
	position: relative;
	display: inline-block;
}

.nav li{
	display: inline-block;
}

.nav li a{
	margin: 0;
	display: inline-block;
	padding: 14px 16px;
	text-decoration: none;
	color: #fff;
}

.nav li a:hover, .dropdown:hover .dropbtn{
	background-color: #ff0000;
}


.dropdown-content{
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #f9f9f9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 3;
}

.dropdown .dropdown-content a{
	color: #666;
	text-decoration: none
	padding: 14px 16px;
	display: block;
		
}

.dropdown .dropdown-content a:hover, .dropd .dropd-content a:hover{
	background-color: #eee;
}

.dropdown:hover .dropdown-content{
	display: block;
}

main{
	margin-top: 60px;
	padding: 2px 16px;
}
.btn{	
	padding: 14px 18px;
	border: none;
	font-size: 1em;
	color: #777;
	background-color: #eee;
}

.btn:hover, .dropd:hover .btn{
	background-color: #777;
	color: #fff;
}

.row{
	text-align: center;
	display: block;
	margin: auto;
	width: 70%;
	height: 1500px;
	padding: 20px 0;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.356);
}

.dropd{
	float:left;
}

.dropd-content{
	display: none;
	min-width: 160px;
	position: absolute;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 2;
	background-color: #f1f1f1;
}
.dropd-content a{
	display: block;
	color: #666;
	text-decoration: none;
	padding: 14px 16px;
}

.dropd:hover .dropd-content{
	display: block;
}

.drop-img{	
	margin: auto
}

.drop-img .img{
	width: 150px;
	height: auto;
}

.drop-img .img-content{
	display: none;
	margin: auto;
	position: absolute;
	top: 190px;
	right: -60px;
	box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.3);
}

.img-content img{
	width: 350px;
	height: auto;
}
.img-content p{
	padding: 10px;
	text-align: center;
}
.drop-img:hover .img-content{
	display: block;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
.dropdown-left, .dropdown-right{
	display: inline-block;
	position: relative;
}

.dropdown-left{
	float: left;
}
.dropdown-right{
	float: right;
}
.span{
	padding: 16px;
	border: 2px solid #2FCA20;
	background-color: #f1f1f1;
	color: #666;
	cursor: pointer;	
}
.span:hover, .dropdown-left:hover .span, .dropdown-right:hover .span{
	background-color: #fff;
	color: #2FCA20;
}

.dropd-content-left, .dropd-content-right{
	display: none;
	position: absolute;
	top: 40px;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left;
}
.dropd-content-right{
	right:0;
}

.dropd-content-left a, .dropd-content-right a{
	display: block;
	color: #888;
	padding: 14px 16px;
	text-decoration: none;

}
.dropd-content-left a:hover, .dropd-content-right a:hover{
	background-color: #2FCA20;
	color: #fff;
}

.dropdown-left:hover .dropd-content-left{
	display: block;
}
.dropdown-right:hover .dropd-content-right{
	display: block;
}
