*{box-sizing: border-box}

body{margin: 0;}


.nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #555;
}

.dropdown, .dropd{
	position: relative;
	display: inline-block;
}

.nav li{
	display: inline-block;
}

.nav li a{
	margin: 0;
	display: inline-block;
	padding: 14px 16px;
	text-decoration: none;
	color: #fff;
}

.nav li a:hover, .dropdown:hover .dropbtn{
	background-color: #ff0000;
}


.dropdown-content{
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #f9f9f9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown .dropdown-content a{
	color: #666;
	text-decoration: none
	padding: 14px 16px;
	display: block;
		
}

.dropdown .dropdown-content a:hover, .dropd .dropd-content a:hover{
	background-color: #eee;
}

.dropdown:hover .dropdown-content{
	display: block;
}

main{
	margin-top: 40px;
	padding: 2px 16px;
}
.btn{
	padding: 16px;
	border: none;
	font-size: 1em;
	color: #777;
	background-color: #eee;
}

.btn:hover, .dropd:hover .btn{
	background-color: #777;
	color: #fff;
}

.dropd-content{
	display: none;
	min-width: 160px;
	position: absolute;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 2;
}
.dropd-content a{
	display: block;
	color: #666;
	text-decoration: none;
	padding: 14px 16px;
}

.dropd:hover .dropd-content{
	display: block;
}

