*{box-sizing: border-box}

.container{
	width: 70%;
	margin: auto;	
}
form{
	background-color: #f3f3f3;
	margin: 15px;
	padding: 25px;
	border-radius: 5px;
}

input, #country, #subject{
	width: 100%;
	border: 1px solid #ddd;
	padding: 14px 20px;
	margin: 10px 0;
	border-radius: 5px;
}

input[type="submit"]{
	background-color: #777;
	color: #fff;
	transition: all 0.2s ease-in-out;
	padding: 16px 20px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.356);
	border: none;
	cursor: pointer;
}
input[type="submit"]:hover{
	font-size: 1em;
	font-weight: bold;
}
